<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-purple-500 to-pink-500">


      <div class="flex items-center justify-center h-screen" >

    
    <div class="bg-indigo-800 text-white font-bold rounded-lg border shadow-lg p-10">
        <div> Select Language</div>

        <form action="/detail/" method="POST">
            <input type="number" name="prd" value="{{pr}}" hidden>
                       {% csrf_token %}
      <select class="w-40 text-blue-600" name="lng">
          {% for obj in lng %}
  <option value="{{obj.language.id}}">{{obj.language.name}}</option>
  {% endfor %}
</select>
<button type="submit">submit</button>
</form>
    </div>
    
  </div>

</body>
</html>